/* 男孩走路效果设置 */
/* 主屏滚动效果设置 */
.boy,
.screen{
	-webkit-transition-property: left,top,transform
	   -moz-transition-property: left,top,transform
	        transition-property: left,top,transform
	-webkit-transition-timing-function: linear;
	   -moz-transition-timing-function: linear;
	        transition-timing-function: linear;
}

/* 男孩动画Class设置 */
.boy_status_walking{
	-webkit-animation: boy-walking 950ms steps(1,start) infinite;
	   -moz-animation: boy-walking 950ms steps(1,start) infinite;
	        animation: boy-walking 950ms steps(1,start) infinite;
}

/* 男孩动画定义 */
@-webkit-keyframes boy-walking {
    0% { background-position: -0px -291px; }
    25% { background-position: -602px -0px; }
    50% { background-position: -302px -291px; }
    75% { background-position: -151px -291px; }
    100% { background-position: -0px -291px; }
}

@-moz-keyframes boy-walking {
    0% { background-position: -0px -291px; }
    25% { background-position: -602px -0px; }
    50% { background-position: -302px -291px; }
    75% { background-position: -151px -291px; }
    100% { background-position: -0px -291px; }
}
@keyframes boy-walking {
    0% { background-position: -0px -291px; }
    25% { background-position: -602px -0px; }
    50% { background-position: -302px -291px; }
    75% { background-position: -151px -291px; }
    100% { background-position: -0px -291px; }
}

/* 第一屏 太阳落下动画 */
.screen-1__sun_status_move{
	-webkit-transition: transform 20s;
	   -moz-transition: transform 20s;
	        transition: transform 20s;
	-webkit-transform: translate(-2000px, 400px);
	   -moz-transform: translate(-2000px, 400px);
	        transform: translate(-2000px, 400px);
}

/* 第一屏 云朵漂浮动画Class设置 */
.screen-1__cloud-1_status_move{
	-webkit-animation: cloud-sm 30s infinite;
	   -moz-animation: cloud-sm 30s infinite;
	        animation: cloud-sm 30s infinite;
}

.screen-1__cloud-2_status_move{
	-webkit-animation: cloud-bg 60s infinite;
	   -moz-animation: cloud-bg 60s infinite;
	        animation: cloud-bg 60s infinite;
}

/* 第一屏 云朵漂浮动画定义 */
@-webkit-keyframes cloud-sm {
	0% { left: -5%; }
	100% { left: 100%; }
}
@-moz-keyframes cloud-sm {
	0% { left: -5%; }
	100% { left: 100%; }
}
@keyframes cloud-sm {
	0% { left: -5%; }
	100% { left: 100%; }
}
@-webkit-keyframes cloud-bg {
	0% { right: -5%; }
	100% { right: 100%; }
}
@-moz-keyframes cloud-bg {
	0% { right: -5%; }
	100% { right: 100%; }
}
@keyframes cloud-bg {
	0% { right: -5%; }
	100% { right: 100%; }
}

/* 第二屏开关门 */
.screen-2__door-left,
.screen-2__door-right{
	-webkit-transition: all 2s;
	   -moz-transition: all 2s;
	        transition: all 2s;
}

.screen-2__door-left_status_open {
    left: -50%;
}

.screen-2__door-right_status_open {
    left: 100%;
}

/* 第二屏亮灯 */
.screen-2_status_bright{
	background: url('../images/QixiB-bright.png') left top no-repeat;
	background-size: 100% 100%;
}

/* 男孩出商店带花设置 */
.boy_status_flower{
	-webkit-animation: boy-flower 950ms step-start infinite;
	   -moz-animation: boy-flower 950ms step-start infinite;
	        animation: boy-flower 950ms step-start infinite;
}

@-webkit-keyframes boy-flower {
	0% { background-position: -453px -0px; }
	25% { background-position: -904px -0px; }
	50% { background-position: -451px -0px; }
	75% { background-position: -753px -0px; }
	100% { background-position: -300px -0px; }
}

@-moz-keyframes boy-flower {
	0% { background-position: -453px -0px; }
	25% { background-position: -904px -0px; }
	50% { background-position: -451px -0px; }
	75% { background-position: -753px -0px; }
	100% { background-position: -300px -0px; }
}

@keyframes boy-flower {
	0% { background-position: -453px -0px; }
	25% { background-position: -904px -0px; }
	50% { background-position: -451px -0px; }
	75% { background-position: -753px -0px; }
	100% { background-position: -300px -0px; }
}

/* 第二屏鸟动画 */
.screen-2__bird_status_fly{
	-webkit-animation: bird-fly 400ms step-start infinite;
	   -moz-animation: bird-fly 400ms step-start infinite;
	        animation: bird-fly 400ms step-start infinite;
	-webkit-transition: transform 10s linear;
	   -moz-transition: transform 10s linear;
	        transition: transform 10s linear;
}

@-webkit-keyframes bird-fly {
	0% { background-position: -182px 0px; }
	50% { background-position: 0px 0px; }
	75% { background-position: -91px 0px; }
	100% { background-position: -182px 0px; }
}

@-moz-keyframes bird-fly {
	0% { background-position: -182px 0px; }
	50% { background-position: 0px 0px; }
	75% { background-position: -91px 0px; }
	100% { background-position: -182px 0px; }
}

@keyframes bird-fly {
	0% { background-position: -182px 0px; }
	50% { background-position: 0px 0px; }
	75% { background-position: -91px 0px; }
	100% { background-position: -182px 0px; }
}

/* 第三屏 波浪动画 */
.screen-3__wave-1,
.screen-3__wave-2,
.screen-3__wave-3,
.screen-3__wave-4{
	-webkit-animation: wave 40s linear infinite;
	   -moz-animation: wave 40s linear infinite;
	        animation: wave 40s linear infinite;
}

.screen-3__wave-2{
	-webkit-animation-delay: 2s;
	   -moz-animation-delay: 2s;
	        animation-delay: 2s;
}

.screen-3__wave-3{
	-webkit-animation-delay: 1s;
	   -moz-animation-delay: 1s;
	        animation-delay: 1s;
}

.screen-3__wave-4{
	-webkit-animation-delay: 3s;
	   -moz-animation-delay: 3s;
	        animation-delay: 3s;
}

@-webkit-keyframes wave {
    0%,
    100% {
    	-webkit-transform: translate3d(0, 0, 0);
    	   -moz-transform: translate3d(0, 0, 0);
    	        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
    	-webkit-transform: translate3d(-30px, 0px, 0);
    	   -moz-transform: translate3d(-30px, 0px, 0);
    	        transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
    	-webkit-transform: translate3d(30px, 0px, 0);
    	   -moz-transform: translate3d(30px, 0px, 0);
    	        transform: translate3d(30px, 0px, 0);
    }
}

@-moz-keyframes wave {
    0%,
    100% {
    	-webkit-transform: translate3d(0, 0, 0);
    	   -moz-transform: translate3d(0, 0, 0);
    	        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
    	-webkit-transform: translate3d(-30px, 0px, 0);
    	   -moz-transform: translate3d(-30px, 0px, 0);
    	        transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
    	-webkit-transform: translate3d(30px, 0px, 0);
    	   -moz-transform: translate3d(30px, 0px, 0);
    	        transform: translate3d(30px, 0px, 0);
    }
}

@keyframes wave {
    0%,
    100% {
    	-webkit-transform: translate3d(0, 0, 0);
    	   -moz-transform: translate3d(0, 0, 0);
    	        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
    	-webkit-transform: translate3d(-30px, 0px, 0);
    	   -moz-transform: translate3d(-30px, 0px, 0);
    	        transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
    	-webkit-transform: translate3d(30px, 0px, 0);
    	   -moz-transform: translate3d(30px, 0px, 0);
    	        transform: translate3d(30px, 0px, 0);
    }
}

/* 第三屏 星星动画 */
.screen-3__stars__item{
	-webkit-animation: star-flash 5s ease-in-out infinite alternate;
	   -moz-animation: star-flash 5s ease-in-out infinite alternate;
	        animation: star-flash 5s ease-in-out infinite alternate;
}

@-webkit-keyframes star-flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@-moz-keyframes star-flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@keyframes star-flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}

/* 第三屏 女孩转身 */
.screen-3__girl_status_turn{
	-webkit-animation: girl-turn 1s step-start 1 forwards;
	   -moz-animation: girl-turn 1s step-start 1 forwards;
	        animation: girl-turn 1s step-start 1 forwards;
}
@-webkit-keyframes girl-turn {
    0% {background-position: -604px -0px;}
    16.7% {background-position: -151px -0px;}
    33.4% {background-position: -906px -0px;}
    50.1% {background-position: -0px -0px;}
    66.8% {background-position: -302px -0px;}
    83.5% {background-position: -453px -0px;}
    100% {background-position: -604px -0px;}
}
@-moz-keyframes girl-turn {
    0% {background-position: -604px -0px;}
    16.7% {background-position: -151px -0px;}
    33.4% {background-position: -906px -0px;}
    50.1% {background-position: -0px -0px;}
    66.8% {background-position: -302px -0px;}
    83.5% {background-position: -453px -0px;}
    100% {background-position: -604px -0px;}
}
@keyframes girl-turn {
    0% {background-position: -604px -0px;}
    16.7% {background-position: -151px -0px;}
    33.4% {background-position: -906px -0px;}
    50.1% {background-position: -0px -0px;}
    66.8% {background-position: -302px -0px;}
    83.5% {background-position: -453px -0px;}
    100% {background-position: -604px -0px;}
}

/* 男孩转身 */
.boy_status_turn{
	-webkit-animation: boy-turn 1s step-start 1 forwards;
	   -moz-animation: boy-turn 1s step-start 1 forwards;
	        animation: boy-turn 1s step-start 1 forwards;
}
@-webkit-keyframes boy-turn {
	0% {background-position: -603px -291px;}
	16.7% {background-position: -150px -0px;}
	33.4% {background-position: -453px -291px;}
	50.1% {background-position: -0px -0px;}
	66.8% {background-position: -903px -291px;}
	83.5% {background-position: -753px -291px;}
	100% {background-position: -603px -291px;}
}
@-moz-keyframes boy-turn {
	0% {background-position: -603px -291px;}
	16.7% {background-position: -150px -0px;}
	33.4% {background-position: -453px -291px;}
	50.1% {background-position: -0px -0px;}
	66.8% {background-position: -903px -291px;}
	83.5% {background-position: -753px -291px;}
	100% {background-position: -603px -291px;}
}
@keyframes boy-turn {
	0% {background-position: -603px -291px;}
	16.7% {background-position: -150px -0px;}
	33.4% {background-position: -453px -291px;}
	50.1% {background-position: -0px -0px;}
	66.8% {background-position: -903px -291px;}
	83.5% {background-position: -753px -291px;}
	100% {background-position: -603px -291px;}
}

/* 飘花 */
.snow__item{
	-webkit-animation: snow-float 20s;
	   -moz-animation: snow-float 20s;
	        animation: snow-float 20s;
	-webkit-transition-property: all;
	   -moz-transition-property: all;
	        transition-property: all;
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
}

.snow__item_status_float{

}

@-webkit-keyframes snow-float {
    0% {bottom: 100%;}
    50% {
        -webkit-transform: rotate(1080deg);
           -moz-transform: rotate(1080deg);
                transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
           -moz-transform: rotate(0deg) translate3d(50px, 50px, 50px);
                transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}
@-moz-keyframes snow-float {
    0% {bottom: 100%;}
    50% {
        -webkit-transform: rotate(1080deg);
           -moz-transform: rotate(1080deg);
                transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
           -moz-transform: rotate(0deg) translate3d(50px, 50px, 50px);
                transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}
@keyframes snow-float {
    0% {bottom: 100%;}
    50% {
        -webkit-transform: rotate(1080deg);
           -moz-transform: rotate(1080deg);
                transform: rotate(1080deg);
    }
    100% {
        -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
           -moz-transform: rotate(0deg) translate3d(50px, 50px, 50px);
                transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}