/* 页面横向布局 */
.box,
.screen__item{
	width: 100%;
	height: 100%;
}

.box{
	position: relative;
	overflow: hidden;
}

.screen__item{
	float: left;
	overflow: hidden;
	position: relative;
}

.screen-1{
	background: url('../images/QixiA.png') left top 100% no-repeat;
	background-size: 100% 100%;
}

.screen-2{
	background: url('../images/QixiB-dark.png') left top no-repeat;
	background-size: 100% 100%;
}

.screen-3{
	background: url('../images/QixiC.png') left top no-repeat;
	background-size: 100% 100%;
}

/* 男孩 */
.boy{
	width: 151px;
    height: 291px;
    background: url('../images/boy.png') -0px -291px no-repeat;
    position: absolute;
    /* 设置一个元素的坐标 */
    left: 6%;
}

/* 第一屏 太阳 */
.screen-1__sun{
	background: url('../images/sun.png') no-repeat;
    position: absolute;
    z-index: 1;
    top: -30px;
    height: 201px;
    width: 201px;
    right: 40%;
}

/* 第一屏 云朵 */
.screen-1__cloud{
	z-index: 2;
    position: absolute;
}

.screen-1__cloud-1{
	width: 181px;
    height: 101px;
    left: -5%;
    top: 15%;
    background: url('../images/cloud1.png') no-repeat;
}

.screen-1__cloud-2{
	width: 301px;
	height: 140px;
	right: -5%;
	background: url('../images/cloud2.png');
}

/* 第二屏 开关灯图片预加载 */
.screen-2_bg_preload{
	background: url('../images/QixiB-bright.png') no-repeat -9999px -9999px;
}

/* 第二屏 商店 */
.screen-2__shop {
    width: 39.5%;
    height: 35.5%;
    position: absolute;
    left: 29%;
    top: 36.5%;
}

.screen-2__door {
    position: absolute;
    width: 32%;
    height: 100%;
    top: 32%;
    height: 68%;
    overflow: hidden;
    left: 58.5%;
}

.screen-2__door-left,
.screen-2__door-right {
    width: 50%;
    height: 100%;
    position: absolute;
}

.screen-2__door-left {
    left: 0%;
    background: url('../images/door-left.png');
    background-size: 100% 100%;
}

.screen-2__door-right {
    left: 50%;
    background: url('../images/door-right.png');
    background-size: 100% 100%;
}

/* 第二屏 鸟 */
.screen-2__bird{
	min-width: 91px;
    min-height: 71px;
    top: 10%;
    position: absolute;
    z-index: 10;
    right: -91px;
    background: url('../images/bird.png') -182px 0px no-repeat;
}

/* 第三屏女孩 */
.screen-3__girl{
	background: url('../images/girl.png') -755px -0px no-repeat;
    position: absolute;
    right: 40%;
    top: 37%;
    width: 151px;
    height: 291px;
}

/* 第三屏波浪 */
.screen-3__wave-wrap{
	position: absolute;
    width: 41%;
    height: 24%;
    left: 29.5%;
    top: 76%;
    overflow: hidden;
}

.screen-3__wave{
	width: 100%;
    height: 100%;
}

.screen-3__wave-1,
.screen-3__wave-2,
.screen-3__wave-3,
.screen-3__wave-4{
	width: 100%;
    position: absolute;
    height: 50%;
}

.screen-3__wave-1{
	width: 131px;
    height: 15px;
    top: 13%;
    left: 35%;
    background: url('../images/water.png') -261px -0px no-repeat;
}
.screen-3__wave-2{
	width: 161px;
    height: 9px;
    top: 30%;
    left: 45%;
    background: url('../images/water.png') -693px -0px no-repeat;
}

.screen-3__wave-3{
	width: 261px;
    height: 29px;
    top: 50%;
    left: 15%;
    background: url('../images/water.png') -0px -0px no-repeat;
}

.screen-3__wave-4{
	width: 301px;
    height: 12px;
    top: 75%;
    left: 30%;
    background: url('../images/water.png') -392px -0px no-repeat;
}

/* 第三屏星星 */
.screen-3__stars{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.screen-3__stars__item{
	position: absolute;
    width: 30px;
    height: 31px;
    background: url('../images/stars.png') left top  no-repeat;
}

.screen-3__stars1{
	top: 20%;
	left: 30%;
}

.screen-3__stars2{
    top: 15%;
    left: 20%;
}

.screen-3__stars3{
    top: 25%;
    left: 85%;
}

.screen-3__stars4{
    top: 30%;
    left: 70%;
}

.screen-3__stars5{
    top: 25%;
    left: 20%;
}

.screen-3__stars6{
    top: 10%;
    left: 65%;
}

/* 飘花 */
.snow{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.snow__item{
	width: 41px;
	height: 41px;
	position: absolute;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 999;
	top: -41px;
}